{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-astro", "@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^(.*).(sa|sc|c)ss$", "^[@]", "^[./]"],
    "importOrderSeparation": true,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
